* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgba(222, 222, 222, 0.726);
}
.title {
    font-size: 50px;
    font-weight: bolder;
}
.display {
    display: grid;
    margin: 0 auto;
    padding: 20px;
    width: 60vw;
    text-align: center;
    border: 2px solid black;
    margin-block-start: 20px;
    margin-block-end: 50px;
    font-size: x-large;
    background-color: white;
}
.display.oneWon {
    background-color: #a45c7b;
}
.display.twoWon {
    background-color: black;
    color: white;
}
button {
    outline: none;
    border: 4px solid #a45c7b;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
    margin-block-start: 50px;
}

button:hover {
    cursor: pointer;
    background: #a45c7b;
    color: white;
}

.boxes {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 80vw;
    height: 80vh;
}

.box {
    padding: 70px;
    text-align: center;
    border: 2px solid black;
    color: rgba(222, 222, 222, 0.726);
    font-size: 3rem;
}
.box:hover {
    cursor: pointer;
    background-color: white;
}

#box0,
#box1,
#box2 {
    border-top: none;
}

#box0,
#box3,
#box6 {
    border-left: none;
}

#box6,
#box7,
#box8 {
    border-bottom: none;
}

#box2,
#box5,
#box8 {
    border-right: none;
}
